In [1]:
#Import the pandas library and read csv file
import pandas as pd

df = pd.read_csv('covid_confirmed_usafacts.csv')

df.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,9839,9851,9858,9865,9874,9883,9883,9883,9904,9909
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,36814,36905,36933,36965,37018,37044,37044,37044,37098,37127
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,3541,3546,3548,3550,3552,3553,3553,3553,3560,3563
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,4184,4194,4202,4208,4211,4216,4216,4216,4217,4232

In [2]:
# generate a descriptive statistics for the dataframe
df.describe()

,countyFIPS,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,29898.348262,30.259004,0.226433,0.229878,0.232070,0.235202,0.237707,0.240839,0.242718,0.243971,...,1.359646e+04,1.363391e+04,1.366400e+04,1.370558e+04,1.373176e+04,1.376057e+04,1.377075e+04,1.377622e+04,1.381032e+04,1.383374e+04
std,15515.884232,15.153897,6.899731,6.977750,7.031192,7.075284,7.096643,7.160000,7.199078,7.220848,...,4.494742e+04,4.500418e+04,4.506041e+04,4.514498e+04,4.517841e+04,4.527072e+04,4.530271e+04,4.531489e+04,4.535578e+04,4.540022e+04
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.438000e+03,1.442000e+03,1.449000e+03,1.465000e+03,1.473000e+03,1.474000e+03,1.474000e+03,1.474000e+03,1.477000e+03,1.484000e+03
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,3.546000e+03,3.553000e+03,3.557000e+03,3.578000e+03,3.597000e+03,3.611000e+03,3.614000e+03,3.614000e+03,3.635000e+03,3.635000e+03
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,9.388000e+03,9.485000e+03,9.510000e+03,9.556000e+03,9.561000e+03,9.586000e+03,9.587000e+03,9.587000e+03,9.608000e+03,9.614000e+03
max,56045.000000,56.000000,375.000000,379.000000,382.000000,384.000000,385.000000,388.000000,390.000000,391.000000,...,1.405804e+06,1.407189e+06,1.407232e+06,1.409912e+06,1.409188e+06,1.411708e+06,1.412748e+06,1.413036e+06,1.413061e+06,1.413061e+06

In [3]:
#From analyzing the dataframe we found that some countyFIPS are equal to 0.
# We will go ahead and select the countyFIPS that are not equal to 0

df1 = df[df['countyFIPS'] != 0]

df1.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,9839,9851,9858,9865,9874,9883,9883,9883,9904,9909
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,36814,36905,36933,36965,37018,37044,37044,37044,37098,37127
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,3541,3546,3548,3550,3552,3553,3553,3553,3560,3563
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,4184,4194,4202,4208,4211,4216,4216,4216,4217,4232
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,9970,10020,10037,10047,10071,10081,10081,10081,10104,10113

In [4]:
#Created a seperate table with dates and the number of cases
df2 = df1.iloc[:,4:]

df2.tail(10)

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
3183,0,0,0,0,0,0,0,0,0,0,...,328,329,338,342,348,356,356,356,357,366
3184,0,0,0,0,0,0,0,0,0,0,...,4618,4686,4697,4741,4766,4798,4798,4798,4853,4866
3185,0,0,0,0,0,0,0,0,0,0,...,1231,1260,1264,1270,1277,1297,1297,1297,1322,1328
3186,0,0,0,0,0,0,0,0,0,0,...,4843,4889,4918,4940,4980,5021,5021,5021,5106,5142
3187,0,0,0,0,0,0,0,0,0,0,...,1266,1276,1292,1305,1306,1308,1308,1308,1315,1322
3188,0,0,0,0,0,0,0,0,0,0,...,7146,7187,7202,7210,7245,7259,7259,7259,7320,7325
3189,0,0,0,0,0,0,0,0,0,0,...,4984,5000,5006,5018,5039,5050,5050,5050,5075,5083
3190,0,0,0,0,0,0,0,0,0,0,...,3660,3674,3689,3702,3705,3711,3711,3711,3719,3733
3191,0,0,0,0,0,0,0,0,0,0,...,1486,1522,1546,1559,1575,1586,1586,1586,1603,1631
3192,0,0,0,0,0,0,0,0,0,0,...,947,957,966,970,978,986,986,986,1002,1004

In [5]:
# From df2 we will use "diff" this calculates the difference of a Dataframe element compared with another element in the Dataframe 
# (default is element in previous row)

df3 = df2.diff(axis = 1)

df3.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,NaN,0,0,0,0,0,0,0,0,0,...,0,12,7,7,9,9,0,0,21,5
2,NaN,0,0,0,0,0,0,0,0,0,...,0,91,28,32,53,26,0,0,54,29
3,NaN,0,0,0,0,0,0,0,0,0,...,0,5,2,2,2,1,0,0,7,3
4,NaN,0,0,0,0,0,0,0,0,0,...,0,10,8,6,3,5,0,0,1,15
5,NaN,0,0,0,0,0,0,0,0,0,...,0,50,17,10,24,10,0,0,23,9

In [6]:
# Then create a new table with countyFIPS,County Name,State,StateFIPS columns

df_info = df.iloc[:,:4]

df_info.head()

   countyFIPS            County Name State  StateFIPS
0           0  Statewide Unallocated    AL          1
1        1001        Autauga County     AL          1
2        1003        Baldwin County     AL          1
3        1005        Barbour County     AL          1
4        1007           Bibb County     AL          1

In [7]:
#Then we will merge df_info dataset back to dataset df3

df_merge = df_info.merge(df3,left_index=True, right_index=True)

df_merge.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,1001,Autauga County,AL,1,NaN,0,0,0,0,0,...,0,12,7,7,9,9,0,0,21,5
2,1003,Baldwin County,AL,1,NaN,0,0,0,0,0,...,0,91,28,32,53,26,0,0,54,29
3,1005,Barbour County,AL,1,NaN,0,0,0,0,0,...,0,5,2,2,2,1,0,0,7,3
4,1007,Bibb County,AL,1,NaN,0,0,0,0,0,...,0,10,8,6,3,5,0,0,1,15
5,1009,Blount County,AL,1,NaN,0,0,0,0,0,...,0,50,17,10,24,10,0,0,23,9

In [8]:
#Next we will unpivot the table by using pandas melt

df_melt = pd.melt(frame=df_merge ,id_vars = ['countyFIPS','County Name','State','StateFIPS'], var_name = "Date")

df_melt.head()

   countyFIPS      County Name State  StateFIPS       Date  value
0        1001  Autauga County     AL          1  1/22/2020    NaN
1        1003  Baldwin County     AL          1  1/22/2020    NaN
2        1005  Barbour County     AL          1  1/22/2020    NaN
3        1007     Bibb County     AL          1  1/22/2020    NaN
4        1009   Blount County     AL          1  1/22/2020    NaN

In [9]:
# View df shape
df_melt.shape

(2001454, 6)

In [10]:
# fill in the null values and covert to int

df_melt['value'] = df_melt['value'].fillna('0').astype(int)

In [11]:
#Export to csv file
df_melt.to_csv('etl_covid_confirmed_usafacts.csv')

In [12]:
#Now we create a table for States & County

df1.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,9839,9851,9858,9865,9874,9883,9883,9883,9904,9909
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,36814,36905,36933,36965,37018,37044,37044,37044,37098,37127
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,3541,3546,3548,3550,3552,3553,3553,3553,3560,3563
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,4184,4194,4202,4208,4211,4216,4216,4216,4217,4232
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,9970,10020,10037,10047,10071,10081,10081,10081,10104,10113

In [13]:
# Extract the first 4 columns
States = df1.iloc[:,:4]

States.head()

   countyFIPS      County Name State  StateFIPS
1        1001  Autauga County     AL          1
2        1003  Baldwin County     AL          1
3        1005  Barbour County     AL          1
4        1007     Bibb County     AL          1
5        1009   Blount County     AL          1

In [14]:
# Export States to csv file
States.to_csv('States.csv', index = False)