In [1]:
#Import the pandas library and read csv file
import pandas as pd

df = pd.read_csv('covid_deaths_usafacts.csv')

df.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,144,144,144,145,146,146,146,146,146,146
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,530,532,532,535,538,538,538,538,540,543
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,73,74,74,74,74,74,74,74,75,76
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,86,86,86,86,86,86,86,86,86,86

In [2]:
#From analyzing the dataframe we found that some countyFIPS are equal to 0.
# We will go ahead and select the countyFIPS that are not equal to 0

df1 = df[df['countyFIPS'] != 0]

df1.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,144,144,144,145,146,146,146,146,146,146
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,530,532,532,535,538,538,538,538,540,543
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,73,74,74,74,74,74,74,74,75,76
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,86,86,86,86,86,86,86,86,86,86
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,168,172,172,174,174,174,174,174,174,175

In [3]:
#Created a seperate table with dates and the number of cases

df2 = df1.iloc[:,4:]

df2.tail(10)

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
3183,0,0,0,0,0,0,0,0,0,0,...,5,5,5,5,5,5,5,5,5,5
3184,0,0,0,0,0,0,0,0,0,0,...,54,54,60,60,60,60,60,60,60,68
3185,0,0,0,0,0,0,0,0,0,0,...,23,23,24,24,24,24,24,24,24,24
3186,0,0,0,0,0,0,0,0,0,0,...,43,43,45,45,45,45,45,45,45,47
3187,0,0,0,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,15
3188,0,0,0,0,0,0,0,0,0,0,...,70,70,75,75,75,75,75,75,75,78
3189,0,0,0,0,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,14
3190,0,0,0,0,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
3191,0,0,0,0,0,0,0,0,0,0,...,29,29,29,29,29,29,29,29,29,32
3192,0,0,0,0,0,0,0,0,0,0,...,8,8,8,8,8,8,8,8,8,9

In [4]:
# From df2 we will use "diff" this calculates the difference of a Dataframe element compared with another element in the Dataframe 
# (default is element in previous row)

df3 = df2.diff(axis = 1)

df3.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
2,NaN,0,0,0,0,0,0,0,0,0,...,0,2,0,3,3,0,0,0,2,3
3,NaN,0,0,0,0,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
4,NaN,0,0,0,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,NaN,0,0,0,0,0,0,0,0,0,...,0,4,0,2,0,0,0,0,0,1

In [5]:
# Then create a new table with countyFIPS,County Name,State,StateFIPS columns

df_info = df.iloc[:,:4]

df_info.head()

   countyFIPS            County Name State  StateFIPS
0           0  Statewide Unallocated    AL          1
1        1001        Autauga County     AL          1
2        1003        Baldwin County     AL          1
3        1005        Barbour County     AL          1
4        1007           Bibb County     AL          1

In [6]:
#Then we will merge df_info dataset back to dataset df3

df_merge = df_info.merge(df3,left_index=True, right_index=True)

df_merge.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,10/10/2021,10/11/2021,10/12/2021,10/13/2021,10/14/2021,10/15/2021,10/16/2021,10/17/2021,10/18/2021,10/19/2021
1,1001,Autauga County,AL,1,NaN,0,0,0,0,0,...,0,0,0,1,1,0,0,0,0,0
2,1003,Baldwin County,AL,1,NaN,0,0,0,0,0,...,0,2,0,3,3,0,0,0,2,3
3,1005,Barbour County,AL,1,NaN,0,0,0,0,0,...,0,1,0,0,0,0,0,0,1,1
4,1007,Bibb County,AL,1,NaN,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
5,1009,Blount County,AL,1,NaN,0,0,0,0,0,...,0,4,0,2,0,0,0,0,0,1

In [7]:
#Next we will unpivot the table by using pandas melt

df_melt = pd.melt(frame=df_merge ,id_vars = ['countyFIPS','County Name','State','StateFIPS'], var_name = "Date")

df_melt.head()

   countyFIPS      County Name State  StateFIPS       Date  value
0        1001  Autauga County     AL          1  1/22/2020    NaN
1        1003  Baldwin County     AL          1  1/22/2020    NaN
2        1005  Barbour County     AL          1  1/22/2020    NaN
3        1007     Bibb County     AL          1  1/22/2020    NaN
4        1009   Blount County     AL          1  1/22/2020    NaN

In [8]:
# fill in the null values and covert to int

df_melt['value'] = df_melt['value'].fillna('0').astype(int)

In [9]:
#Export to csv file
df_melt.to_csv('etl_covid_deaths_usafacts.csv')