In [1]:
import pandas as pd

df = pd.read_csv('covid_confirmed_usafacts.csv')

df.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,7615,7635,7670,7694,7694,7694,7788,7818,7854,7890
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,25860,26175,26472,26822,26822,26822,27477,27736,28020,28358
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2537,2543,2562,2585,2585,2585,2629,2649,2681,2699
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2928,2937,2960,2973,2973,2973,3016,3034,3056,3069

In [2]:
df.describe()

,countyFIPS,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
count,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,3193.000000,...,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03,3.193000e+03
mean,29898.348262,30.259004,0.000313,0.000313,0.000626,0.000626,0.001566,0.001879,0.001879,0.002192,...,1.084324e+04,1.088359e+04,1.091998e+04,1.096298e+04,1.097900e+04,1.099308e+04,1.105802e+04,1.109996e+04,1.113720e+04,1.117386e+04
std,15515.884232,15.153897,0.017697,0.017697,0.025023,0.025023,0.039547,0.043315,0.043315,0.053054,...,3.820942e+04,3.830279e+04,3.840611e+04,3.863443e+04,3.866573e+04,3.869876e+04,3.891959e+04,3.900681e+04,3.909272e+04,3.919165e+04
min,0.000000,1.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00,0.000000e+00
25%,18101.000000,18.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,1.101000e+03,1.104000e+03,1.107000e+03,1.110000e+03,1.112000e+03,1.112000e+03,1.115000e+03,1.123000e+03,1.128000e+03,1.133000e+03
50%,29125.000000,29.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,2.646000e+03,2.663000e+03,2.666000e+03,2.670000e+03,2.676000e+03,2.676000e+03,2.692000e+03,2.718000e+03,2.726000e+03,2.730000e+03
75%,45055.000000,45.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,6.926000e+03,6.954000e+03,6.990000e+03,7.018000e+03,7.022000e+03,7.022000e+03,7.091000e+03,7.125000e+03,7.135000e+03,7.151000e+03
max,56045.000000,56.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,1.000000,2.000000,...,1.260586e+06,1.262457e+06,1.265567e+06,1.269224e+06,1.269224e+06,1.269224e+06,1.279759e+06,1.282668e+06,1.284918e+06,1.288016e+06

In [3]:
df1 = df[df['countyFIPS'] != 0]

df1.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,7615,7635,7670,7694,7694,7694,7788,7818,7854,7890
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,25860,26175,26472,26822,26822,26822,27477,27736,28020,28358
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2537,2543,2562,2585,2585,2585,2629,2649,2681,2699
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2928,2937,2960,2973,2973,2973,3016,3034,3056,3069
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,7417,7463,7497,7542,7542,7542,7603,7631,7658,7696

In [4]:
df2 = df1.iloc[:,4:]

df2.tail(10)

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
3183,0,0,0,0,0,0,0,0,0,0,...,165,173,173,175,175,175,175,178,178,179
3184,0,0,0,0,0,0,0,0,0,0,...,2989,3011,3022,3035,3035,3035,3035,3081,3081,3080
3185,0,0,0,0,0,0,0,0,0,0,...,772,780,781,790,790,790,790,802,802,809
3186,0,0,0,0,0,0,0,0,0,0,...,3343,3373,3388,3399,3399,3399,3399,3439,3439,3455
3187,0,0,0,0,0,0,0,0,0,0,...,866,869,873,874,874,874,874,875,875,880
3188,0,0,0,0,0,0,0,0,0,0,...,5017,5042,5048,5056,5056,5056,5056,5090,5090,5108
3189,0,0,0,0,0,0,0,0,0,0,...,3914,3938,3950,3960,3960,3960,3960,4003,4003,4014
3190,0,0,0,0,0,0,0,0,0,0,...,2430,2464,2482,2498,2498,2498,2498,2538,2538,2543
3191,0,0,0,0,0,0,0,0,0,0,...,945,949,950,950,950,950,950,958,958,960
3192,0,0,0,0,0,0,0,0,0,0,...,687,689,690,694,694,694,694,699,699,700

In [5]:
df3 = df2.diff(axis = 1)

df3.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,13.0,20.0,35.0,24.0,0.0,0.0,94.0,30.0,36.0,36.0
2,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,163.0,315.0,297.0,350.0,0.0,0.0,655.0,259.0,284.0,338.0
3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,8.0,6.0,19.0,23.0,0.0,0.0,44.0,20.0,32.0,18.0
4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,7.0,9.0,23.0,13.0,0.0,0.0,43.0,18.0,22.0,13.0
5,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,4.0,46.0,34.0,45.0,0.0,0.0,61.0,28.0,27.0,38.0

In [6]:
df_info = df.iloc[:,:4]

df_info.head()

   countyFIPS            County Name State  StateFIPS
0           0  Statewide Unallocated    AL          1
1        1001        Autauga County     AL          1
2        1003        Baldwin County     AL          1
3        1005        Barbour County     AL          1
4        1007           Bibb County     AL          1

In [7]:
df_merge = df_info.merge(df3,left_index=True, right_index=True)

df_merge.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
1,1001,Autauga County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,13.0,20.0,35.0,24.0,0.0,0.0,94.0,30.0,36.0,36.0
2,1003,Baldwin County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,163.0,315.0,297.0,350.0,0.0,0.0,655.0,259.0,284.0,338.0
3,1005,Barbour County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,8.0,6.0,19.0,23.0,0.0,0.0,44.0,20.0,32.0,18.0
4,1007,Bibb County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,7.0,9.0,23.0,13.0,0.0,0.0,43.0,18.0,22.0,13.0
5,1009,Blount County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,4.0,46.0,34.0,45.0,0.0,0.0,61.0,28.0,27.0,38.0

In [8]:
df_melt = pd.melt(frame=df_merge ,id_vars = ['countyFIPS','County Name','State','StateFIPS'], var_name = "Date")

df_melt.head()

   countyFIPS      County Name State  StateFIPS       Date  value
0        1001  Autauga County     AL          1  1/22/2020    NaN
1        1003  Baldwin County     AL          1  1/22/2020    NaN
2        1005  Barbour County     AL          1  1/22/2020    NaN
3        1007     Bibb County     AL          1  1/22/2020    NaN
4        1009   Blount County     AL          1  1/22/2020    NaN

In [9]:
df_melt.shape

(1787798, 6)

In [10]:
df_melt['value'] = df_melt['value'].fillna('0').astype(int)

In [11]:
df_melt.to_csv('etl_covid_confirmed_usafacts.csv')

In [13]:
#Now we create a table for States & County


df1.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/3/2021,8/4/2021,8/5/2021,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,7615,7635,7670,7694,7694,7694,7788,7818,7854,7890
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,25860,26175,26472,26822,26822,26822,27477,27736,28020,28358
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,2537,2543,2562,2585,2585,2585,2629,2649,2681,2699
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,2928,2937,2960,2973,2973,2973,3016,3034,3056,3069
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,7417,7463,7497,7542,7542,7542,7603,7631,7658,7696

In [16]:
States = df1.iloc[:,:4]

States.head()

   countyFIPS      County Name State  StateFIPS
1        1001  Autauga County     AL          1
2        1003  Baldwin County     AL          1
3        1005  Barbour County     AL          1
4        1007     Bibb County     AL          1
5        1009   Blount County     AL          1

In [17]:
States.to_csv('States.csv', index = False)