In [1]:
import pandas as pd

df = pd.read_csv('covid_deaths_usafacts.csv')

df.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021,8/13/2021,8/14/2021,8/15/2021
0,0,Statewide Unallocated,AL,1,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,114,114
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,330,330,330,330,332,338,342,344,344,344
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,63,63,63,63,63,64,64,65,65,65
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,66,66,66,66,66,67,67,67,67,67

In [2]:
df1 = df[df['countyFIPS'] != 0]

df1.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021,8/13/2021,8/14/2021,8/15/2021
1,1001,Autauga County,AL,1,0,0,0,0,0,0,...,114,114,114,114,114,114,114,114,114,114
2,1003,Baldwin County,AL,1,0,0,0,0,0,0,...,330,330,330,330,332,338,342,344,344,344
3,1005,Barbour County,AL,1,0,0,0,0,0,0,...,63,63,63,63,63,64,64,65,65,65
4,1007,Bibb County,AL,1,0,0,0,0,0,0,...,66,66,66,66,66,67,67,67,67,67
5,1009,Blount County,AL,1,0,0,0,0,0,0,...,140,140,140,140,140,140,140,140,140,140

In [3]:
df2 = df1.iloc[:,4:]

df2.tail(10)

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021,8/13/2021,8/14/2021,8/15/2021
3183,0,0,0,0,0,0,0,0,0,0,...,3,3,3,3,3,3,3,3,3,3
3184,0,0,0,0,0,0,0,0,0,0,...,34,34,34,34,35,35,35,35,35,35
3185,0,0,0,0,0,0,0,0,0,0,...,15,15,15,15,15,15,15,15,15,15
3186,0,0,0,0,0,0,0,0,0,0,...,31,31,31,31,32,32,32,32,32,32
3187,0,0,0,0,0,0,0,0,0,0,...,9,9,9,9,9,9,9,9,9,9
3188,0,0,0,0,0,0,0,0,0,0,...,45,45,45,45,45,45,45,45,45,45
3189,0,0,0,0,0,0,0,0,0,0,...,11,11,11,11,11,11,11,11,11,11
3190,0,0,0,0,0,0,0,0,0,0,...,14,14,14,14,14,14,14,14,14,14
3191,0,0,0,0,0,0,0,0,0,0,...,26,26,26,26,26,26,26,26,26,26
3192,0,0,0,0,0,0,0,0,0,0,...,6,6,6,6,6,6,6,6,6,6

In [4]:
df3 = df2.diff(axis = 1)

df3.head()

,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,1/28/2020,1/29/2020,1/30/2020,1/31/2020,...,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021,8/13/2021,8/14/2021,8/15/2021
1,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,6.0,4.0,2.0,0.0,0.0
3,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,NaN,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [5]:
df_info = df.iloc[:,:4]

df_info.head()

   countyFIPS            County Name State  StateFIPS
0           0  Statewide Unallocated    AL          1
1        1001        Autauga County     AL          1
2        1003        Baldwin County     AL          1
3        1005        Barbour County     AL          1
4        1007           Bibb County     AL          1

In [6]:
df_merge = df_info.merge(df3,left_index=True, right_index=True)

df_merge.head()

,countyFIPS,County Name,State,StateFIPS,1/22/2020,1/23/2020,1/24/2020,1/25/2020,1/26/2020,1/27/2020,...,8/6/2021,8/7/2021,8/8/2021,8/9/2021,8/10/2021,8/11/2021,8/12/2021,8/13/2021,8/14/2021,8/15/2021
1,1001,Autauga County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
2,1003,Baldwin County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,2.0,6.0,4.0,2.0,0.0,0.0
3,1005,Barbour County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,2.0,0.0,0.0,0.0,0.0,1.0,0.0,1.0,0.0,0.0
4,1007,Bibb County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,1.0,0.0,0.0,0.0,0.0
5,1009,Blount County,AL,1,NaN,0.0,0.0,0.0,0.0,0.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [7]:
df_melt = pd.melt(frame=df_merge ,id_vars = ['countyFIPS','County Name','State','StateFIPS'], var_name = "Date")

df_melt.head()

   countyFIPS      County Name State  StateFIPS       Date  value
0        1001  Autauga County     AL          1  1/22/2020    NaN
1        1003  Baldwin County     AL          1  1/22/2020    NaN
2        1005  Barbour County     AL          1  1/22/2020    NaN
3        1007     Bibb County     AL          1  1/22/2020    NaN
4        1009   Blount County     AL          1  1/22/2020    NaN

In [8]:
df_melt['value'] = df_melt['value'].fillna('0').astype(int)

In [9]:
df_melt.to_csv('etl_covid_deaths_usafacts.csv')